#Promenne programu pro SK, definujici jeho vlastnosti:
#Tue Jan 13 21:25:00 CEST 2021
urlOrder=https\://www.proteinaco.sk/export/orders.xml?patternId\=23&hash\=a2d607c99341c9286f3efa0042658b7b244fe6a05bc8d0526bf1c254aa1e3118           
urlStock=
codeKeysCSV=/home/proteinaco/codeKeys.csv
itemsXMLName=/home/proteinaco/items.xml
orderXmlName=/home/tomcat/webapps/19940405/xml/proteinacoSK.xml
stockXmlName=/home/tomcat/webapps/19940405/xml/productsCompleteSK.xml
