#Promenne programu, definujici jeho vlastnosti:
#Tue Dec 21 11:15:00 CEST 2020
urlOrder=https\://www.proteinaco.cz/export/orders.xml?patternId\=92&hash\=fe438356d14a06c1fe2d906592e6b1ac504b4d180987a00245b972e90a0a9b6c       
urlStock=https\://www.proteinaco.cz/export/productsComplete.xml?patternId\=-5&hash\=2898eb9b31a9f63a856f076ed127ec6a0a85f64f30c100e991e87887970fd3f5
codeKeysCSV=/home/proteinaco/codeKeys.csv
itemsXMLName=/home/proteinaco/items.xml
orderXmlName=/home/tomcat/webapps/19940405/xml/proteinaco.xml
stockXmlName=/home/tomcat/webapps/19940405/xml/productsComplete.xml
