#Promenne programu, definujici jeho vlastnosti:
#Tue Jun 02 11:25:56 CEST 2020
codeKeysCSV=/home/sosyn/codeKeys.csv
urlOrder=https\://www.proteinaco.cz/export/orders.xml?patternId\=41&hash\=5d0a5c7c2f1ef8713f8c8b34ef0c3ecc63ba6f1147a7ac8eb031a470a40e3520
orderXmlName=/home/tomcat/webapps/19940405/xml/proteinaco.xml
itemsXMLName=/home/sosyn/items.xml
